<p>
  <h1><%= t(".title")%></h1>
  <%= link_to t(".upload"), new_picture_path %>
</p>

<p>
  <div class="flex">
    <% @pictures.each do |picture| %>
      <div class="image_container">
        <%= picture.title %><br>
        <% if picture.image_file.attached? %>
          <%= image_tag(url_for(picture.image_file), class: "image_file") %>
        <% end %>
      </div>
    <% end %>
  </div>
</p>
